<h3> About Us </h3>

  <%= image_tag "legend.jpeg" %>
  <p>

      "My name is John Legend and I am all about the music. I started singing from a very young age, 4 to be exact and I have not looked back since"


  </p>